:root {
    --black: #00000;
    --greyBackground: #e6e6e6;
    --cornerOrange: #f9a01b;
    --cornerPurple: #8478b6;
    --TripPlanColor: #ed5f72;
    --cornerGrey: #a5aaa8;
    --cornerGreyWhite: #f4f3f3;
    --beige: #f3ebd8;
    }

    body {
        background: linear-gradient(to top right, #f9a01b, #e6e6e6, #e6e6e6, #e6e6e6,#e6e6e6, #8478b6);
      }
      
      .logo {
        display: block;
        /* margin: 0 auto; */
        float: left;
        width: 650px;
        height: 350px;
        position: absolute; left: -150px;
        margin-top: 10px;
        margin-bottom: -90px;
        
    }

      .dots {
        display: block;
        margin: 0 auto;
        width: 340px;
        height: 180px;
        position: static;
        margin-top: -60px;
        margin-bottom: -30px;
        padding-left: 200px;
        }

      .MapImg {
        position: static;
        width: 900px;
        height: 500px;
        padding-top: 170px;
        padding-left: 200px;
    }

    