root {
    --black: #00000;
    --greyBackground: #e6e6e6;
    --cornerOrange: #f9a01b;
    --cornerPurple: #8478b6;
    --TripPlanColor: #ed5f72;
    --cornerGrey: #a5aaa8;
    --cornerGreyWhite: #f4f3f3;
    --beige: #f3ebd8;
    }

    body {
        background: no-repeat linear-gradient(to top right, #ffb867b7, rgb(243, 211, 164), #e6e6e6,#e6e6e6, #e6e6e6, #e6e6e6,#e6e6e6, #8478b677, #8478b6);
        background-attachment: fixed;
        overflow: hidden;
        /* background-image: url("/Users/najma/Development/code/phase-4/Project 4/Roam2/client/src/components/MapImg.png"); */
}
      
      
      .logo {
        display: block;
        float: left;
        width: 650px;
        height: 350px;
        position: absolute; left: -150px;
        margin-top:-80px;
        margin-bottom: -90px;
        
    }

      .dots {
        display: block;
        margin: 0 auto;
        width: 340px;
        height: 180px;
        position: static;
        margin-top: -60px;
        margin-bottom: -30px;
        padding-left: 200px;
        }

        .dots2 {
            display: block;
            margin: 0 auto;
            width: 340px;
            height: 180px;
            position: static;
            margin-top: -60px;
            margin-bottom: -30px;
            padding-left: 1115px;
            }

      .MapImg {
        position: static;
        width: 830px;
        height: 429px;
        padding-top: 190px;
        padding-left: 290px;
    }

    .spiral {
    
        width: 160em;
        height: auto;   
        margin-top: -51em; 
        margin-left: -5.55em; 
           
    }
    
    .EMAIL{
        color: rgb(34, 34, 34);
        font-size: large;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        padding-left: 60px;
        margin-top: -32em;
    }
    .email {
        color: #2761d4;
        transition: color 0.2s;
        font-family: monospace;
        text-decoration: none; 
        padding-left: 60px;
        font-size: large;
    }
     .email:hover{
        color: #8478b6;
     }

    .web {
        color: rgb(34, 34, 34);
        font-size: large;
        font-weight: bolder;
        font-family: Arial, Helvetica, sans-serif;
        /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
        padding-left: 60px;
    }

    .website {
        color: #2761d4;
        font-size: large;
        transition: color 0.2s;
        font-family: monospace;
        text-decoration: none; 
        padding-left: 60px;
    }
    .website:hover {
        color: #8478b6;
    }

    .bottomleft {
        position: relative; 
        top: -20px;
        left: 30px;

    }


.form{
    float: right;
}
   
.nav{
    display: flex;
}

.landing-page{
    background-image: url("/Users/najma/Development/code/phase-4/Project 4/Roam2/client/src/components/MapImg.png");
}

    
